section {
    background-color: #ffeeff;
}

section h1 {
    width: 90%;
    left: 5%;
}

section span,
article span {
    display: inline-block;
}

section:before {
    content: '';
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    background-image: url('https://www.gnu.org/software/emacs/images/emacs.png');
    background-size: cover;
    width: 20vw;
    height: 20vw;
    opacity: 0.5;
}

article strong {
    font-weight: bold;
}

article code {
    background-color: #eee;
}

blockquote {
    opacity: 0.5;
    border-left: solid 0.3vw;
    padding-left: 1.2vw;
}

a {
    color: inherit;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}